html, body {
    height: 100%;
    margin: 0;
    color: #001f3f;
    background-color:  #DDDDDD;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* body {
    background-color: slateblue;
} */

/* div {
    border-style: solid;
    border-width: 1px;
    border-color: greenyellow;
} */

#main-container {
    display: flex;
    width: 100%;
    height: 100%;
}

#sidebar {
    display: flex;
    width: 250px;
    height: 100%;
    background-color:  #7FDBFF;
    flex-direction: column;
    padding: 20px 40px;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 600px;
    background-color: #FFFFFF;
    padding: 20px 40px;
}

hr {
    margin-left: 0;
    margin-right: 0;
}

ul {
    list-style-type: none;
    padding: 0; /* Remove padding */
    margin: 10 0; /* Remove margins */
}

.project-item {
    display: flex;
    justify-content: space-between;
    
}

.todo-item > p {
    padding-left: 4px;
}

.todo-item {
    display: flex;
}

.todo-item:hover {
    background-color: whitesmoke;
}

.btn {
    display: flex;
    align-self: flex-start;
    margin-top: 8px;
    margin-bottom: 8px;
}

label:hover {
    cursor: pointer;
    background-color: #52ceff;
}

dialog {
    border: none;
    border-radius: 32px;
    padding: 20px 20px 40px 20px;
}

dialog:focus {
    outline:none;
}